:root {
    --black: #121212;
    --white: #ffffff;
    --bg: #272838;
    --header-l: #7D6B91;
    --header-r: #5D536B;
}


body {
    background-color: var(--bg);
    color: var(--white);
    font-family: "Roboto";
}

body::-webkit-scrollbar {
    width: 0.5rem;
  }
  
  body::-webkit-scrollbar-track {
    background: var(--header-r);
  }
  
  body::-webkit-scrollbar-thumb {
     background: var(--header-l);/*#7d0f1f;*/
    
  }

.text-header {
    font-size: 3em;
    text-align: left;
}

.text-paragraph {
    font-size: 1.5em;
    text-align: match-parent;
    background:  var(--header-r);
    padding: 20px;
}

@font-face {
    font-family: "Roboto";
    src: url("Roboto-regular.otf"); 
}

#main-container {
    height: 100%;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-flow: column;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

.header-image {
    margin-top: 0; /* In css comments are different qt */
    margin-left: 0;
    margin-right: 0;
    padding: 30px;
    text-align: center;
    background: linear-gradient(var(--header-l), var(--header-r));
    color: var(--white);
    font-size: 4em;
}

.image-left {
    text-align: center;
    justify-content: center;
    
}

.flex {
    display: flex;
    justify-content: center;
}

.text-paragraph .image-left {
    padding: 4em;
}
